CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.o
*.tar.gz
*.tgz
*.opensdf
*.sdf
*.suo
*.depend
*.layout
*ipch
*.log
*.flv
*.pdb
*.ilk
*.aps
.vscode
build
xbuild
ipch